<form autocomplete="off" [formGroup]="editarOrdenForm" (ngSubmit)="onSubmit()">
    <div class="container">
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title><strong>Informacion de la orden</strong></mat-panel-title>
                    <mat-panel-description>{{panelOpenState ? 'cerrar' : 'Click para desplegar' }}</mat-panel-description>
                </mat-expansion-panel-header>
                <div style="padding-top:20px; padding:15px">
                    <mat-card>
                        <div class="row">
                            <div class="col-md-2 offset-md-10 text-center">
                                <label for="Nro de orden">Nro de orden</label>
                                <input matInput formControlName="nroOrden"  readonly id="nroOrden"  class="text-center">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field style="width: 100%">
                                    <input matInput placeholder="Empresa solicitante" formControlName="EmpresaSolicitante" readonly>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field style="width: 100%">
                                    <input matInput placeholder="Entidad / Compañia" formControlName="EntidadCompania" [readonly]="SoloLectura">
                                </mat-form-field>
                                <mat-error>
                                    <span *ngIf="!editarOrdenForm.get('EntidadCompania').valid && editarOrdenForm.get('EntidadCompania').touched"><small class="form-text">Este campo debe estar diligenciado</small></span>
                                </mat-error>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field style="width: 100%">
                                    <input matInput placeholder="Persona de Contacto" formControlName="PersonaContacto" [readonly]="SoloLectura">
                                </mat-form-field>
                                <mat-error>
                                    <span *ngIf="!editarOrdenForm.get('PersonaContacto').valid && editarOrdenForm.get('PersonaContacto').touched"><small class="form-text">Este campo debe estar diligenciado</small></span>
                                </mat-error>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field style="width: 100%">
                                    <input matInput placeholder="Teléfono" formControlName="TelefonoContacto" [readonly]="SoloLectura">
                                </mat-form-field>
                                <mat-error>
                                    <span *ngIf="!editarOrdenForm.get('TelefonoContacto').valid && editarOrdenForm.get('TelefonoContacto').touched"><small class="form-text">Este campo debe estar diligenciado</small></span>
                                </mat-error>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field style="width: 100%">
                                    <input matInput placeholder="Email contacto" formControlName="EmailContacto" [readonly]="SoloLectura">
                                </mat-form-field>
                                <mat-error>
                                    <span *ngIf="!editarOrdenForm.get('EmailContacto').valid && editarOrdenForm.get('EmailContacto').touched"><small class="form-text">Este campo debe estar diligenciado</small></span>
                                </mat-error>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field style="width: 100%">
                                    <input matInput placeholder="Ciudad" formControlName="Ciudad" [readonly]="SoloLectura">
                                </mat-form-field>
                                <mat-error>
                                    <span *ngIf="!editarOrdenForm.get('Ciudad').valid && editarOrdenForm.get('Ciudad').touched"><small class="form-text">Este campo debe estar diligenciado</small></span>
                                </mat-error>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field style="width: 100%">
                                    <input matInput placeholder="Paginas enviadas" formControlName="Paginas" [readonly]="SoloLectura">
                                </mat-form-field>
                                <mat-error>
                                    <span *ngIf="!editarOrdenForm.get('Paginas').valid && editarOrdenForm.get('Paginas').touched"><small class="form-text">Este campo debe estar diligenciado</small></span>
                                </mat-error>
                            </div>
                        </div>
                    </mat-card>
                    <br>
                    <mat-card>
                        <div class="row">
                            <div class="col-md-5">
                                <mat-form-field style="width: 100%">
                                    <input matInput placeholder="JOB N°" formControlName="JobNumero" [readonly]="SoloLectura">
                                </mat-form-field>
                                <mat-error>
                                    <span *ngIf="!editarOrdenForm.get('JobNumero').valid && editarOrdenForm.get('JobNumero').touched"><small class="form-text">Este campo debe estar diligenciado</small></span>
                                </mat-error>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Descripción del JOB</label>
                                    <textarea class="form-control" rows="3" formControlName="DescripcionJob" [readonly]="SoloLectura"></textarea>
                                    <mat-error>
                                        <span *ngIf="!editarOrdenForm.get('DescripcionJob').valid && editarOrdenForm.get('DescripcionJob').touched"><small class="form-text">Este campo debe estar diligenciado</small></span>
                                    </mat-error>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                    <br>
                    <mat-card>
                        <div class=" row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">Reembolsable</label>
                            <div class="col-sm-10">
                                <mat-radio-group aria-label="Select an option" formControlName="Reembolsable" (change)="radioChange($event)" [disabled]="SoloLectura">
                                    <mat-radio-button value="true" style="margin-right: 14px;">SI</mat-radio-button>
                                    <mat-radio-button value="false">NO</mat-radio-button>
                                </mat-radio-group>
                                <mat-error>
                                    <span *ngIf="!editarOrdenForm.get('Reembolsable').valid && editarOrdenForm.get('Reembolsable').touched"><small class="form-text">Este campo debe estar diligenciado</small></span>
                                </mat-error>
                            </div>
                        </div>
                        <div *ngIf="!Reembolso">
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field style="width: 100%">
                                        <mat-label>Nombre</mat-label>
                                        <mat-select formControlName="NombreCECO" (selectionChange)="seleccionarCECO($event)" [disabled]="SoloLectura">
                                            <mat-option *ngFor="let item of CentroCosto" [value]="item.centroCosto">
                                                {{item.nombre}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-error>
                                        <span *ngIf="!editarOrdenForm.get('NombreCECO').valid && editarOrdenForm.get('NombreCECO').touched"><small class="form-text">Este campo debe estar diligenciado</small></span>
                                    </mat-error>
                                    <mat-error>
                                        <span *ngIf="validarNombreCECO"><small class="form-text">Este campo debe estar diligenciado</small></span>
                                    </mat-error>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field style="width: 100%">
                                        <input matInput placeholder="CECO" formControlName="CECO" readonly>
                                    </mat-form-field>
                                    <mat-error>
                                        <span *ngIf="!editarOrdenForm.get('CECO').valid && editarOrdenForm.get('CECO').touched"><small class="form-text">Este campo debe estar diligenciado</small></span>
                                    </mat-error>
                                    <mat-error>
                                        <span *ngIf="validarCECO"><small class="form-text">Este campo debe estar diligenciado</small></span>
                                    </mat-error>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field style="width: 100%">
                                        <input matInput placeholder="N° JOB" numbersOnly formControlName="NumeroJobCECO" [readonly]="SoloLectura">
                                    </mat-form-field>
                                    <mat-error>
                                        <span *ngIf="!editarOrdenForm.get('NumeroJobCECO').valid && editarOrdenForm.get('NumeroJobCECO').touched"><small class="form-text">Este campo debe estar diligenciado</small></span>
                                    </mat-error>
                                    <mat-error>
                                        <span *ngIf="validarNJOB"><small class="form-text">Este campo debe estar diligenciado</small></span>
                                    </mat-error>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field style="width: 100%">
                                        <input matInput placeholder="% ASUMIDO" numbersOnly formControlName="PorcentajeAsumidoCECO" [readonly]="SoloLectura">
                                    </mat-form-field>
                                    <mat-error>
                                        <span *ngIf="!editarOrdenForm.get('PorcentajeAsumidoCECO').valid && editarOrdenForm.get('PorcentajeAsumidoCECO').touched"><small class="form-text">Este campo debe estar diligenciado</small></span>
                                    </mat-error>
                                    <mat-error>
                                        <span *ngIf="validarPorcentajeCECO"><small class="form-text">Este campo debe estar diligenciado</small></span>
                                    </mat-error>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-primary btnAgregarUN" (click)="AgregarParticipacion()" *ngIf="!SoloLectura">Agregar unidad</button>
                                </div>
                            </div>

                            <div class="row">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="cabezeraTblUnidadNegocio">CECO</th>
                                            <th scope="col" class="cabezeraTblUnidadNegocio">NOMBRE</th>
                                            <th scope="col" class="cabezeraTblUnidadNegocio">N.JOB</th>
                                            <th scope="col" class="cabezeraTblUnidadNegocio">% ASUMIDO</th>
                                            <th scope="col" class="cabezeraTblUnidadNegocio">ELIMINAR</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of participacion">
                                            <th scope="row">{{item.ceco}}</th>
                                            <td>{{item.nombre}}</td>
                                            <td>{{item.Njob}}</td>
                                            <td>{{item.asumido}}</td>
                                            <td>
                                                <button *ngIf="!SoloLectura" type="button" class="btnBorrar" (click)="eliminarParticipacion(item.id)"><i class="fa fa-close"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
        <br>
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState1 = true" (closed)="panelOpenState1 = false">
                <mat-expansion-panel-header>
                    <mat-panel-title><strong>Agregar elementos</strong></mat-panel-title>
                    <mat-panel-description>{{panelOpenState1 ? 'cerrar' : 'Click para desplegar' }}</mat-panel-description>
                </mat-expansion-panel-header>
                <mat-card>
                    <div class="row">
                        <div class="col-xs-12 col-12 col-md-4 form-group">
                            <mat-form-field style="width: 100%">
                                <input matInput [matDatepicker]="picker" placeholder="Fecha de solicitud" formControlName="FechaSolicitud" [readonly]="SoloLectura">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                            <mat-error>
                                <span *ngIf="!editarOrdenForm.get('FechaSolicitud').valid && editarOrdenForm.get('FechaSolicitud').touched"><small class="form-text">Este campo debe estar diligenciado</small></span>
                            </mat-error>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field style="width: 100%">
                                <input matInput placeholder="Tiempo de entrega" formControlName="TiempoEntrega" [readonly]="SoloLectura">
                            </mat-form-field>
                            <mat-error>
                                <span *ngIf="!editarOrdenForm.get('TiempoEntrega').valid && editarOrdenForm.get('TiempoEntrega').touched"><small class="form-text">Este campo debe estar diligenciado</small></span>
                            </mat-error>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field style="width: 100%">
                                <input matInput placeholder="Rubro de presupuesto" formControlName="RubroPresupuesto" [readonly]="SoloLectura">
                            </mat-form-field>
                            <mat-error>
                                <span *ngIf="!editarOrdenForm.get('RubroPresupuesto').valid && editarOrdenForm.get('RubroPresupuesto').touched"><small class="form-text">Este campo debe estar diligenciado</small></span>
                            </mat-error>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Justificación del gasto</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="JustificacionGasto" [readonly]="SoloLectura"></textarea>
                                <mat-error>
                                    <span *ngIf="!editarOrdenForm.get('JustificacionGasto').valid && editarOrdenForm.get('JustificacionGasto').touched"><small class="form-text">Este campo debe estar diligenciado</small></span>
                                </mat-error>
                            </div>
                        </div>
                    </div>
                </mat-card>
                <br>
                <mat-card>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="staticEmail" class="col-sm-6 col-form-label">con Iva?</label>
                            <mat-radio-group aria-label="Select an option" formControlName="IvaSiNo" (change)="SeleccionIva($event)" [disabled]="SoloLectura">
                                <mat-radio-button value="si" style="margin-right: 14px;">SI</mat-radio-button>
                                <mat-radio-button value="no">NO</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <br>
                    <hr>
                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field style="width: 100%">
                                <mat-label>Tipo de moneda</mat-label>
                                <mat-select formControlName="TipoMoneda" [disabled]="SoloLectura">
                                    <mat-option value="COP">COP</mat-option>
                                    <mat-option value="USD">USD</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-5">
                            <button *ngIf="!SoloLectura" type="button" class="btn btn-primary btnAgregarUN" (click)="agregarItem(templateItems)">Agregar item</button>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col" class="cabezeraTblUnidadNegocio">ITEM</th>
                                    <th scope="col" class="cabezeraTblUnidadNegocio">ELEMENTO O SERVICIO</th>
                                    <th scope="col" class="cabezeraTblUnidadNegocio">ESPECIFICACIONES</th>
                                    <th scope="col" class="cabezeraTblUnidadNegocio">Cantidad</th>
                                    <th scope="col" class="cabezeraTblUnidadNegocio">Valor Unitario</th>
                                    <th scope="col" class="cabezeraTblUnidadNegocio">Valor total</th>
                                    <th scope="col" class="cabezeraTblUnidadNegocio">Borrar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of ItemsGuardar">
                                    <td>{{item.Title}}</td>
                                    <td>{{item.Elemento}}</td>
                                    <td>{{item.Especificaciones}}</td>
                                    <td>{{item.Cantidad}}</td>
                                    <td>{{item.ValorUnitario | number:'.2'}}</td>
                                    <td>{{item.ValorTotal | number:'.2'}}</td>
                                    <td>
                                        <button *ngIf="!SoloLectura" type="button" class="btnBorrar" (click)="eliminarItem(item.id)"><i class="fa fa-close"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr style="height: 3px;border: solid 1px #fff;background: #0e144e;">
                    <div style="text-align: -webkit-right;">
                        <table style="width: 40%;max-width: 100%; background:#0e144e;">
                            <tr>
                                <td style="text-align:right; color: #ffffff;" width="25%">Subtotal:</td>
                                <td style="text-align:right; color: #ffffff; padding-right: 25px;" width="15%">${{Subtotal | number:'.2-2'}}</td>
                            </tr>
                            <tr>
                                <td style="text-align:right; color: #ffffff;" width="25%">IVA({{PorcentajeIvaUtilizar}}%):</td>
                                <td style="text-align:right; color: #ffffff; padding-right: 25px;" width="15%">{{Iva | number:'.2-2'}}</td>
                            </tr>
                            <tr>
                                <td style="text-align:right; color: #ffffff; font-weight: bold;" width="25%">TOTAL:</td>
                                <td style="text-align:right; color: #ffffff; padding-right: 25px;" width="15%">${{Total | number:'.2-2'}}</td>
                            </tr>
                        </table>
                    </div>
                </mat-card>
            </mat-expansion-panel>
        </mat-accordion>
        <br>
        <div class="row">
            <div class="col-md-12">
                <button *ngIf="!SoloLectura" type="submit" class="btn btn-success">Guardar Orden</button>
            </div>
        </div>
    </div>
</form>

<ng-template #templateItems>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Agregar item</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-3">
                <mat-form-field style="width: 100%">
                    <input matInput placeholder="ITEM" [(ngModel)]="item">
                </mat-form-field>
                <mat-error>
                    <span *ngIf="validarItem"><small class="form-text">Este campo debe estar diligenciado</small></span>
                </mat-error>
            </div>
            <div class="col-md-3">
                <mat-form-field style="width: 100%">
                    <input matInput placeholder="CANTIDAD" numbersOnly [(ngModel)]="Cantidad">
                </mat-form-field>
                <mat-error>
                    <span *ngIf="validarCantidad"><small class="form-text">Este campo debe estar diligenciado</small></span>
                </mat-error>
            </div>
            <div class="col-md-3">
                <mat-form-field style="width: 100%">
                    <input matInput placeholder="VALOR UNITARIO" currencyMask [options]="{ prefix: ' ', thousands: '.', decimal: ',', align: 'left' , allowNegative: false, precision : 0 }" [(ngModel)]="ValorUnitario">
                </mat-form-field>
                <mat-error>
                    <span *ngIf="validarValorUnitario"><small class="form-text">Este campo debe estar diligenciado</small></span>
                </mat-error>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Elemento o servicio requerido</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="ElementoServicio"></textarea>
                    <mat-error>
                        <span *ngIf="validarElementoServicio"><small class="form-text">Este campo debe estar diligenciado</small></span>
                    </mat-error>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">ESPECIFICACIONES (Datos técnicos, dimensiones, referencias)</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="Especificaciones"></textarea>
                    <mat-error>
                        <span *ngIf="validarEspecificaciones"><small class="form-text">Este campo debe estar diligenciado</small></span>
                    </mat-error>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="AgregarItems()">Guardar item</button>
        <button type="button" class="btn btn-danger" (click)="modalRef.hide()">Cancelar</button>
    </div>

</ng-template>
<ng4-loading-spinner>...Procesando</ng4-loading-spinner>